body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: gray;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: indianred;
    width: 100%;
    position: fixed;
    align-items: center;
    height: 70px;
}

header h1 {
    margin: 0 0 0 10px;
    font-family: 'LeagueMonoVariable', 'monaco', 'helvetica';
}

nav {
    margin: 0 10px 0 0;
    display: flex;
}

.navbar {
    margin: 15px;
    border: 0 2px 0 0 solid gray;
}